<div id="<%= dom_id trip %>" class = "trips">
  <h4 class = "tripsHead"><%= trip.name %></h4>

  <p>
    <strong class = "tripsHead">Start date:</strong>
    <%= trip.start_date %>
  </p>

  <p>
    <strong class = "tripsHead"> End date:</strong>
    <%= trip.end_date %>
  </p>
</div>
