<div class = "container-fluid">
  <div class = "card col-5 logIn trips mb-5">
    <h4 class = "trips mt-3">New trip</h4>

    <%= render "form", trip: @trip %>

    <br>

    <div class = "p-2 logIn">
      <%= link_to "Back to trips", trips_path, class: "btn btn-primary logInButton mb-3" %>
    </div>
  </div>
</div>
