<h4 class = "tripsHead trips">New trip</h4>

<%= render "form", trip: @trip %>

<br>

<div class = "p-2 trips">
  <%= link_to "Back to trips", trips_path, class: "btn btn-primary tripButton" %>
</div>
