<h1> Welcome to Split the Bill! </h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= expenses_path %>">Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= trips_path %>">Trips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Admin</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Recent Trips</h2>
      <ul>
        <li> Trip 1 </li>
        <li> Trip 2 </li>
        <li> Trip 3 </li>
      </ul>
    </div>
    <div class="col">
      <h2>Recent Expenses</h2>
      <ul>
        <li> Expense 1 </li>
        <li> Expense 2 </li>
        <li> Expense 3 </li>
      </ul>
    </div>
  </div>