/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 @import "bootstrap";

 .welcome{
    padding: 10px;
    background-color: #4AA7FF;
    margin-bottom: 0;
    color: #FFD700;
    text-align: center;
 }

 .nv{
    padding-right: 15px;
    padding-left:  15px;
    background-color: #F4E1B3;
    margin-top: 0;
 }

 .search {
   background-color: #dfdfdf;
 }


 .home{
   background-color: #dfdfdf;
 }

  .navHead {
  color: #3CB371;
}

.navHead:hover{
  color: #007B82;
}


 .homeTrips {
   color: #005806;
 }

 .homeExpenses {
   color: #aa1515;
 }


 .trips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3CB371;
  padding: 10px;
 }

 .trips > div {
  margin-bottom: 20px;
 }
 
 .tripsHead {
  color: #007B82;
 }

 .trips a{
  color: #3CB371;
 }

 .trips a:hover{
  color: #FF9E9D;
 }

 .trips hr {
  border: 1px solid #007B82;
  width: 100%;
 }

 .tripButton {
  margin: 10px;
  background-color: #3CB371;
  border-width: 0px;
  color: #FFD700 !important;
 }

 .tripButton:hover{
  background-color: #007B82;
  color: #FF9E9D !important;
 }

 .expenses table {
  border-collapse: collapse;
 }

 .expenses tr, th, td {
  border: 2px solid #007B82;
  padding: 10px;
  color: #007B82;
 }

.expenses .topRow th {
  background-color: #FF9E9D;;
}

 .expenses tr:nth-child(even) {
  background-color: #FF9E9D;
}

.expenses tr:nth-child(odd) {
  background-color: #F4E1B3;
}

 .expenses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
 }

 .expenses a {
  color: #007B82;
 }

 .expenses a:hover{
  color: #3CB371;
 }

 .expenseButton {
  margin: 10px;
  background-color: #FF9E9D;
  border-width: 0px;
  color: #007B82 !important;
  border: 1px solid #007B82;
 }

 .expenseButton:hover{
  background-color: #3CB371;
  color: #FFD700 !important;
 }

 .paid {
  background-color: #005806;
  color: white;
}

.not-paid {
  background-color: #aa1515;
  color: white;
}